!!! XHTML
- @title = 'iOSでまわる'
- @url = 'https://github.com/shokai/js-mawaru'
%html
  %head
    %title= @title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
    %script{:type => 'text/javascript', :src => "jquery.js"}
    %script{:type => 'text/javascript', :src => "iphone-js-console.js"}
    %script{:type => 'text/javascript', :src => "main.js"}
    :javascript
      JsConsole.start('ws://192.168.1.38:8088');
    :css
      input#dir {
        width : 300px;
      }
  %body
    %h1= @title
    %div.mawaru
      - for i in 0..8 do
        %span.mawaru{:id => i}
          %img{:src => "img/#{i}.png"}
    %div.control
      %div
        %input{:type => :checkbox, :checked => false, :id => :use_z_check}
          z軸
      %div
        debug
        %input{:type => :range, :value => 0, :min => 0, :max => 360, :id => :dir_slider, :class => :dir}
        %input{:type => :text, :value => 0, :size => 10, :id => :dir_value, :class => :dir}
    %hr
      %a{:href => @url}= @url
